{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="fertilizer.html">Fertilizer</a></li>
<li><a href="pesticide.html" class="active">Pesticide</a></li>
{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Pest Name: Corn Borer</b>
</h2>
 <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"  class="text-center my-3 content-h3">Information</h3>
        </div>

<div class="container" style="max-width:900px; text-align: justify;">

    <p style="color: #000; font-size: 18px">The Corn borer spends the winter as a fully formed larva in corn
        stalks and other plant waste, such as weed stems. The mature larva measures approximately 1 inch (25 mm) in
        length, has a creamy to grey hue, and is distinguished by a few sparse rows of tiny, round, brown dots that run
        the size of its body.</p> <br>

    <center><img class="image" src="static/images/pesticide/cornborer/corn_borer.jpg" alt="cornborer"></center>

    <p style="color: #000; font-size: 18px">Symptoms:</p>
    <p style="color: #000; font-size: 17px"> 1. All of the plant's aerial parts are damaged by the larvae. They tunnel into the stalks at the base of the plant to eat first, then feed later on silk and ear tissues. The result is reduced development, fewer leaves, and decreased output because they obliterate interior tissues transporting water and nutrients.</p>
    <p style="color: #000; font-size: 17px"> 2. The plant's ability to support itself is weakened by the stalk's tunneling, which encourages lodging. The ears have circular holes with damaged, damp frass and maybe dropping kernels.</p>
    <p style="color: #000; font-size: 17px"> 3. Opportunistic fungi use the perforations to colonize the plant, leading to rot in those tissues. The toxins these fungi create further degrade the yield's quality.</p>
    <br>
    <br>
    <p style="color: #000; font-size: 18px">Organic Control:</p>
    <p style="color: #000; font-size: 17px">It is feasible to manage populations of the European Corn Borer with
        predators, parasitoids, and bio-insecticides. The local predators are insidious flower bugs (Orius insidiosus),
        green lacewings, and several ladybirds. Additionally, 20 to 30 percent of the overwintering larvae might be
        wiped out by birds. Additionally, effective are bio-insecticides based on Bacillus thuringiensis or
        Spinosad.</p>


    </div>

    <section>

        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>


<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/cornborer/SyngentaAmpligo.jpg" alt="SyngentaAmpligo">
                     <h3 class="card-text"><b>Syngenta Ampligo</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Chlorantraniliprole(10)%<br>+Lambdacyhalothrin (5%) ZC</h3>
                        <h3 class="card-text"><b>Dose:</b> 80 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Syngenta-Ampligo-Chloratranilprole-Lambdacyhalothrin-Insecticide/dp/B08YNPHZ2M/ref=asc_df_B08YNPHZ2M/?tag=googleshopdes-&th=1">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/cornborer/ProfexSuper.jpg" alt="ProfexSuper">
                        <h3 class="card-text"><b>Profex Super</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Profenofos 40%+Cypermethrin 4% E.C.</h3>
                        <h3 class="card-text"><b>Dose:</b> 400 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://krushikendra.com/PROFEX-SUPER-Profenofos-40-Cypermethrin-4-EC?search=Profenofos%2040%25%20%2B%20Cypermethrin%204%25%20E.C.&description=true">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/cornborer/KayBee.jpg" alt="KayBee">
                        <h3 class="card-text"><b>Kay Bee<br>(Organic)</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Azadiractin 10000 PPM</h3>
                        <h3 class="card-text"><b>Dose:</b> 250 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Azadirachtin-Based-Environmental-Friendly-Bio-Pesticide-Neem/dp/B08WJDTSC9/ref=sr_1_7?keywords=azadirachtin%2B10000%2Bppm&qid=1657018117&s=garden&sr=1-7&th=1">Buy!</a></p>
                    </div>


                </div>




    </div>
    </div>
    </section>

{% endblock %}