{% extends 'layout.html' %}

{% block nav %}
<li><a href="index.html">Home</a></li>
{% endblock %}


{% block body %}

<title>CropLife</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--//meta tags ends here-->
  <!--booststrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--//booststrap end-->

  <!-- font-awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous" />
  <!-- //font-awesome icons -->

  <!--stylesheets-->
  <link href="../static/styles/style.css" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->

</head>

<body>
<br>
<br>

<div class="container">
            <center><h3>Identify diseases from the following crops!</h3></center>
        </div>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>


<table>
  <tr>
    <th>Apple</th>
  </tr>
  <tr>
    <th>Blueberry</th>
  </tr>
  <tr>
    <th>Cherry</th>
  </tr>
  <tr>
    <th>Corn</th>
  </tr>
  <tr>
    <th>Cotton</th>
  </tr>
  <tr>
    <th>Grape</th>
  </tr>
  <tr>
    <th>Orange</th>
  </tr>
    <tr>
    <th>Peach</th>
  </tr>
    <tr>
    <th>Pepperbell</th>
  </tr>
    <tr>
    <th>Potato</th>
  </tr>
    <tr>
    <th>Raspberry</th>
  </tr>
    <tr>
    <th>Rice</th>
  </tr>
    <tr>
    <th>Soybean</th>
  </tr>
    <tr>
    <th>Squash</th>
  </tr>
    <tr>
    <th>Strawberry</th>
  </tr>
      <tr>
    <th>Tomato</th>
  </tr>
      <tr>
    <th>Sugarcane</th>
  </tr>
      <tr>
    <th>Wheat</th>
  </tr>
</table>


  <section class="blog_w3ls py-3 pb-5 pt-10" id="test">
    <div class="container pb-xl-5 pb-lg-3">
      <br>
      <br>

      <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3"> Test Your Crop!</h3>
      <div class="row" style="justify-content: center;">
        <form action="{{ url_for('disease_predict') }}" method="POST" enctype=multipart/form-data>
          <div class="form-group text-center">
            <label for="exampleFormControlFile1"><b>Input a file</b></label>
            <input type="file" name="file" class="form-control-file" id="inputImage" onchange=previewImage(event)
              required>
            <br />
            <button class="btn btn-primary" type="submit"> Predict </button>
          </div>
        </form>
      </div>
      <img id="output-image" class="rounded mx-auto d-block" />
      <br />
    </div>

  </section>


<!-- service -->
  <section class="service pb-5 " id="features">
    <div class="container ">
      <h3 class="title text-center mb-3">Features</h3>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
          <div class="ser-Agriculture-grid">
            <div class="about-icon mb-md-4 mb-3">
              <span class="fa fa-viadeo" aria-hidden="true"></span>
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">Easy Detection</h4>
              <p>Simply upload a leaf image to detect the disease.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
          <div class="ser-Agriculture-grid">
            <div class="about-icon mb-md-4 mb-3">
              <span class="fa fa-pagelines" aria-hidden="true"></span>
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">Causes and Solutions</h4>
              <p>Provides the cause and solution of the identified disease.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
          <div class="ser-Agriculture-grid">
            <div class="about-icon mb-md-4 mb-3">
              <span class="fa fa-leaf" aria-hidden="true"></span>
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">Large Plant Support</h4>
              <p>Supports around 18 different types of plants and 57 diseases.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    function previewImage(event) {
      var reader = new FileReader();
      reader.onload = function () {
        var output = document.getElementById('output-image')
        output.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>


{% endblock %}