
{% extends 'layout.html' %}

{% block body %}
<br>
<div class="video-container" style="
    text-align: center;">
  <br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/tMptg9HYWo4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
<br>
  <br>
</iframe>
<br>

</div>
<div class="header" align="center" >
  <h1><b>Crop Disease Detection Demo</b></h1>
</div>
  </div>

{% endblock %}







#########Second Method#########

<!--<br>-->
<!--<div class="video-container" style="-->
<!--    text-align: center;">-->
<!--  <br>-->
<!--  <a href="https://streamable.com/56qsmh">Crop Disease Detection Demo</a>-->
<!--</div>-->

##########Third Method#########
<!--<br>-->
<!--<div class="video-container" style="-->
<!--    text-align: center;">-->
<!--  <br>-->
<!--  <video playsinline autoplay muted loop poster="https://images.unsplash.com/photo-1620222071550-a5c7f8b600ed?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMDY4NDIyNA&ixlib=rb-1.2.1&q=80&w=400">-->
<!--    <source type="video/mp4" src="https://cdn.videvo.net/videvo_files/video/free/2019-07/large_watermarked/Raw_Vegan_Blueberry_Cake_Cut_Birthday_Cooking_preview.mp4">-->
<!--    <source src="https://cdn.videvo.net/videvo_files/video/free/2019-07/small_watermarked/Raw_Vegan_Blueberry_Cake_Cut_Birthday_Cooking_preview.webm" type="video/webm">-->
<!--  </video>-->
<!--<div class="header" align="center" >-->
<!--  <h1><b>Crop Disease Detection Demo</b></h1>-->
<!--</div>-->
<!--  </div>-->