{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="fertilizer.html">Fertilizer</a></li>
<li><a href="pesticide.html" class="active">Pesticide</a></li>
{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Pest Name: Fall Army-worm</b>
</h2>
 <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"  class="text-center my-3 content-h3">Information</h3>
        </div>

<div class="container" style="max-width:900px; text-align: justify;">

    <p style="color: #000; font-size: 18px">The fall army-worm is a species of the Lepidoptera order and one of the fall
        army-worm moth species that their larval stage may identify. The word "army-worm" can refer to a variety of
        species and frequently describes the species' larval stage's widespread invasive nature.</p> <br>

    <center><img class="image" src="static/images/pesticide/fallarmyworm/fallarmyworm.jpg" alt="fallarmyworm"></center>

    <p style="color: #000; font-size: 18px">Symptoms:</p>

    <p style="color: #000; font-size: 17px"> 1. The fall armyworm's larvae eat all plant sections, which results in harm. Larvae that are still young. They initially only consume one side of the leaf tissue's surface, leaving the other side unharmed (window feeding).</p>
    <p style="color: #000; font-size: 17px"> 2. Armyworms eat up to the time when buds and growth points are destroyed, and seedlings can be fed. Larger larvae produce lines of larval frass, rows of perforations, and ragged margins on leaves that are distinctive to seedlings.</p>
    <p style="color: #000; font-size: 17px"> 3. Armyworms may also attack the fruit that is still developing or the plant's base. The larvae of the autumn armyworm can result in significant leaf loss in cases of excessive infestation.</p>
    <br>
    <br>
    <p style="color: #000; font-size: 18px">Organic Control:</p>
    <p style="color: #000; font-size: 17px">Cotesia marginiventris, Chelonus texanus, and C. remus are examples of wasp
        parasitoids. Archytas marmoratus is the parasitoid fl y that is most prevalent. Ground beetles, spined
        soldierbugs, flower bugs, birds, and rodents are some examples of predators. Spraying is an option for
        bio-insecticides that include neem extracts, Bacillus thuringiensis or Baculovirus Spodoptera, Spinosad, or
        Azadirachtin. When added to the whorl of corn, red sand, rock salt, charcoal powder, or fly ash prevent the
        larvae from feeding and ultimately kill them (100 percent, 98 percent, 90 and 80 percent efficacy,
        respectively).</p>


    </div>

    <section>

        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>


<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/armyworm/SyngentaAmpligo.jpg" alt="SyngentaAmpligo">
                     <h3 class="card-text"><b>Syngenta Ampligo</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Chlorantraniliprole(10)%<br>+Lambdacyhalothrin (5%) ZC</h3>
                        <h3 class="card-text"><b>Dose:</b> 80 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Syngenta-Ampligo-Chloratranilprole-Lambdacyhalothrin-Insecticide/dp/B08YNPHZ2M/ref=asc_df_B08YNPHZ2M/?tag=googleshopdes-&th=1">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/armyworm/ProfexSuper.jpg" alt="ProfexSuper">
                        <h3 class="card-text"><b>Profex Super</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Profenofos 40%+Cypermethrin 4% E.C.</h3>
                        <h3 class="card-text"><b>Dose:</b> 400 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://krushikendra.com/PROFEX-SUPER-Profenofos-40-Cypermethrin-4-EC?search=Profenofos%2040%25%20%2B%20Cypermethrin%204%25%20E.C.&description=true">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/armyworm/KayBee.jpg" alt="KayBee">
                        <h3 class="card-text"><b>Kay Bee<br>(Organic)</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Azadiractin 10000 PPM</h3>
                        <h3 class="card-text"><b>Dose:</b> 250 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Azadirachtin-Based-Environmental-Friendly-Bio-Pesticide-Neem/dp/B08WJDTSC9/ref=sr_1_7?keywords=azadirachtin%2B10000%2Bppm&qid=1657018117&s=garden&sr=1-7&th=1">Buy!</a></p>
                    </div>


                </div>




    </div>
    </div>
    </section>

{% endblock %}