{% extends 'layout.html' %} {% block body %}

<style>
  html body {
    background-color: rgb(255, 255, 255);
  }
</style>
<!--Form Section-->
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
  <b>Get informed advice on fertilizer based on soil</b>
</h2>
<br />

<div
  style="
    width: 350px;
    height: 40rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{ url_for('fert_recommend') }}">
    <div class="form-group">
      <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
      <input
        type="number"
        class="form-control"
        id="Nitrogen"
        name="nitrogen"
        placeholder="Enter the Nitrogren value"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Phosphorous" style="font-size: 17px"
        ><b>Enter the Phosphorous value</b></label
      >
      <input
        type="number"
        class="form-control"
        id="Phosphorous"
        name="phosphorous"
        placeholder="Enter the Phosphorous value"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
      <input
        type="number"
        class="form-control"
        id="Pottasium"
        name="pottasium"
        placeholder="Enter the Pottasium value"
        style="font-weight: bold"
        required
      />
    </div>
    <!-- <div class="form-group">
      <label for="ph" style="font-size: 17px"><b>ph level</b></label>
      <input
        type="text"
        class="form-control"
        id="ph"
        name="ph"
        placeholder="Enter the value"
        style="font-weight: bold"
        required
      />
    </div> -->
    <div class="form-group">
      <label for="crop" style="font-size: 17px"
        ><b>Select the name of the Crop</b></label
      >
      <select
        name="cropname"
        class="form-control"
        id="crop"
        placeholder="Select a crop"
        style="font-weight: bold"
        required
      >
        <option selected value="">Select Crop</option>
        <option value="Tobacco">Tobacco</option>
        <option value="Maize">Maize</option>
        <option value="Sorghum">Sorghum</option>
        <option value="Wheat">Wheat</option>
        <option value="Cotton">Cotton</option>
        <option value="Alfalfa">Alfalfa</option>
        <option value="Banana">Banana</option>
        <option value="Citrus">Citrus</option>
        <option value="Grape">Grape</option>
        <option value="Pineapple">Pineapple</option>
        <option value="Potato">Potato</option>
        <option value="Groundnut">Groundnut</option>
        <option value="Olive">Olive</option>
        <option value="Safflower">Safflower</option>
        <option value="Soybean">Soybean</option>
        <option value="Sunflower">Sunflower</option>
        <option value="Bean">Bean</option>
        <option value="Pea">Pea</option>
        <option value="Sugarbeet">Sugarbeet</option>
        <option value="Sugarcane">Sugarcane</option>
        <option value="Cabbage">Cabbage</option>
        <option value="Onion">Onion</option>
        <option value="Pepper">Pepper</option>
        <option value="Tomato">Tomato</option>
        <option value="Watermelon">Watermelon</option>
        <option value="Rice">Rice</option>
        <option value="Millets">Millets</option>
        <option value="PearlMilets(Bajra)">Pearl Milets (Bajra) </option>
        <option value="Canola(Rapeseed)">Canola (Rapeseed) </option>
        <option value="Lentil">Lentil</option>
        <option value="Triticle">Triticle</option>
        <option value="Chilli">Chilli</option>
      </select>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="
          color: black;
          font-weight: bold;
          width: 130px;
          height: 50px;
          border-radius: 12px;
          font-size: 21px;
        "
      >
        Get Insights
      </button>
    </div>
  </form>
</div>
{% endblock %}
