{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="fertilizer.html">Fertilizer</a></li>
<li><a href="pesticide.html" class="active">Pesticide</a></li>
{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Pest Name: Gall Flies</b>
</h2>
 <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"  class="text-center my-3 content-h3">Information</h3>
        </div>

<div class="container" style="max-width:900px; text-align: justify;">

    <p style="color: #000; font-size: 18px">The  gall fly species are known as the goldenrod gall fly, often referred to as
        the goldenrod ball gall maker, and is indigenous to North America. The species' distinctive galls, which it
        creates on several species of the Solidago, or goldenrod, genus, make it so well-known. The fly's eggs are
        implanted close to the plant's budding buds.</p> <br>

    <center><img class="image" src="static/images/pesticide/gallflies/gallflies.jpg" alt="gallflies"></center>

    <p style="color: #000; font-size: 18px">Symptoms:</p>

    <p style="color: #000; font-size: 17px"> 1. At the base of tillers, the rice gall midge creates a tubular gall that produces elongated silvery leaf sheaths known as onion leaves or silver shoots that are about 1 cm broad and 10–30 cm long. </p>
    <p style="color: #000; font-size: 17px"> 2. The afflicted tiller is unable to form panicles and hinders leaf growth. Symptoms of dryness, potassium shortage, salinity, and rice thrips include plant stunting, leaf deformation, wilting, and rolling. </p>
    <p style="color: #000; font-size: 17px"> 3. Check for the presence of insects to confirm the problem's root cause. Particularly maggot-like larva and eggs with elongated tubules feeding inside growing buds.</p>
    <br>
    <br>
    <p style="color: #000; font-size: 18px">Organic Control:</p>
    <p style="color: #000; font-size: 17px"> Borer populations can be managed with a variety of insecticides. Timely
        application of them is required. Formulations in granular form are recommended. On whorls and developing ears,
        products containing cyfluthrin and esfenvalerate can be sprayed. This can also be accomplished by using
        synthetic pyrethroids.</p>


    </div>

    <section>

        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>


<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/gallflies/ProfexSuper.jpg" alt="ProfexSuper">
                     <h3 class="card-text"><b>Profex Super</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Profenofos 40%+Cypermethrin 4% E.C.</h3>
                        <h3 class="card-text"><b>Dose:</b> 400 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/TATA-Tafgor-Dimethoate-30-100/dp/B097L6K9RS/ref=sr_1_4?crid=QCF8R2ZWHSJI&keywords=dimethoate&qid=1656932706&sprefix=dimetho%2Caps%2C272&sr=8-4">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/gallflies/SyngentaAlika.jpg" alt="SyngentaAlika">
                     <h3 class="card-text"><b>Syngenta Alika</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Thiamethoxam 12.6%<br>+Lambda Cyhalothrin 9.5% Zc</h3>
                        <h3 class="card-text"><b>Dose:</b> 100 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Syngenta-Thiamethoxam-Lambda-Cyhalothrin-Insecticide/dp/B08QMYC813/ref=sr_1_1?crid=F7FV5B6MFLDC&keywords=alika+insecticide&qid=1656932893&sprefix=alika%2Caps%2C226&sr=8-1">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/aphids/KayBee.jpg" alt="KayBee">
                        <h3 class="card-text"><b>Kay Bee (Organic)</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Azadiractin 10000 PPM</h3>
                        <h3 class="card-text"><b>Dose:</b> 250 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Azadirachtin-Based-Environmental-Friendly-Bio-Pesticide-Neem/dp/B08WJDTSC9/ref=sr_1_7?keywords=azadirachtin%2B10000%2Bppm&qid=1657018117&s=garden&sr=1-7&th=1">Buy!</a></p>
                    </div>


                </div>




    </div>
    </div>
    </section>

{% endblock %}