{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="fertilizer.html">Fertilizer</a></li>
<li><a href="pesticide.html" class="active">Pesticide</a></li>
{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Pest Name: Mustard Saw-fly</b>
</h2>
 <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"  class="text-center my-3 content-h3">Information</h3>
        </div>

<div class="container" style="max-width:900px; text-align: justify;">

    <p style="color: #000; font-size: 18px">Mustard Saw-fly is the most significant planting pest for mustard. The adult
        fly has an orange body and a black head. This pest's larvae eat mustard and rapeseed leaves, poking holes in
        them. In extreme cases, larvae devour the whole leaf lamina, only leaving the midribs left. In severe cases,
        this bug entirely defoliates the plants.</p> <br>

    <center><img class="image" src="static/images/pesticide/mustardsawfly/mustardsawfly.png" alt="mustardsawfly"></center>

    <p style="color: #000; font-size: 18px">Symptoms:</p>

    <p style="color: #000; font-size: 17px"> 1. The larva initially eats leaves, but subsequently transitions to feeding on the edges of the midrib.</p>
    <p style="color: #000; font-size: 17px"> 2. The grubs' insatiable feeding caused them to produce countless shot holes and even riddle the entire leaves.</p>
    <p style="color: #000; font-size: 17px"> 3. They eat the shoot's epidermis, which causes seedlings to dry out and older plants to stop producing seeds.</p>
    <br>
    <br>
    <p style="color: #000; font-size: 18px">Organic Control:</p>
    <p style="color: #000; font-size: 17px">Applying irrigation at the seedling stage is essential for managing sawflies
        because most larvae perish from drowning. Severe cold lowers pest load—anti-feedant use of bitter gourd seed oil
        emulsion. Spray the crop with 25 EC quinolphos and 50 EC malathion at 1000 ml per hectare. This must be applied
        in roughly 600–700 liters of water per hectare.</p>


    </div>

    <section>

        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>


<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/mustardsawfly/SyngentaAlika.jpg" alt="SyngentaAlika">
                     <h3 class="card-text"><b>Syngenta Alika</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Thiamethoxam 12.6%<br>+Lambda Cyhalothrin 9.5% Zc</h3>
                        <h3 class="card-text"><b>Dose:</b> 100 ml/acre</h3>
                        <p style="font-weight:bold"><a href=https://www.amazon.in/Syngenta-Thiamethoxam-Lambda-Cyhalothrin-Insecticide/dp/B08QMYC813/ref=sr_1_1?crid=F7FV5B6MFLDC&keywords=alika+insecticide&qid=1656932893&sprefix=alika%2Caps%2C226&sr=8-1">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/mustardsawfly/ProfexSuper.jpg" alt="ProfexSuper">
                        <h3 class="card-text"><b>Profex Super</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Profenofos 40%+Cypermethrin 4% E.C.</h3>
                        <h3 class="card-text"><b>Dose:</b> 400 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://krushikendra.com/PROFEX-SUPER-Profenofos-40-Cypermethrin-4-EC?search=Profenofos%2040%25%20%2B%20Cypermethrin%204%25%20E.C.&description=true">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/mustardsawfly/KayBee.jpg" alt="KayBee">
                        <h3 class="card-text"><b>Kay Bee<br>(Organic)</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Azadiractin 10000 PPM</h3>
                        <h3 class="card-text"><b>Dose:</b> 250 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Azadirachtin-Based-Environmental-Friendly-Bio-Pesticide-Neem/dp/B08WJDTSC9/ref=sr_1_7?keywords=azadirachtin%2B10000%2Bppm&qid=1657018117&s=garden&sr=1-7&th=1">Buy!</a></p>
                    </div>


                </div>




    </div>
    </div>
    </section>

{% endblock %}