{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="fertilizer.html">Fertilizer</a></li>
<li><a href="pesticide.html" class="active">Pesticide</a></li>
{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Pest Name: Soybean Girdle Beetle</b>
</h2>
 <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"  class="text-center my-3 content-h3">Information</h3>
        </div>

<div class="container" style="max-width:900px; text-align: justify;">

    <p style="color: #000; font-size: 18px">At the seedling stage, girdle beetles are seen more frequently. A defining
        symptom is the appearance of two circular cuts on the branch or stem. In the soybean stem, larvae bore. The
        larvae create tunnels within the stem by eating the interior. Because it is starved of nutrition, the diseased
        area above the circular-cut dries up. The plant is severed at the height of 15 to 25 cm during the later stages
        of infestation.</p> <br>

    <center><img class="image" src="static/images/pesticide/soybeangirdle/soybeangirdle.jpg" alt="soybeangirdle"></center>

    <p style="color: #000; font-size: 18px">Symptoms:</p>
    <p style="color: #000; font-size: 17px"> 1. At the seedling stage, visible signs can be seen as two circular incisions on the plant's branch or stem.</p>
    <p style="color: #000; font-size: 17px"> 2. Young plants and seedlings are wilted or dead, whereas the leaves of mature plants are just wilted or brown and dried out. Affected branches will display circular rings.</p>
    <p style="color: #000; font-size: 17px"> 3. Over time, the infected area above the cut will dry up. The plant is cut off at a later stage of infestation, between 15 and 25 cm above the ground.</p>
    <br>
    <br>
    <p style="color: #000; font-size: 18px">Organic Control:</p>
    <p style="color: #000; font-size: 17px">There is yet no efficient organic therapy. Preventive and cultural
        techniques are the only other strategies for controlling the soybean girdle beetle.</p>


    </div>

    <section>

        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>


<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/soybeangirdle/SyngentaAlika.jpg" alt="SyngentaAlika">
                     <h3 class="card-text"><b>Syngenta Alika</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Thiamethoxam 12.6%<br>+Lambda Cyhalothrin 9.5% Zc</h3>
                        <h3 class="card-text"><b>Dose:</b> 100 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Syngenta-Thiamethoxam-Lambda-Cyhalothrin-Insecticide/dp/B08QMYC813/ref=sr_1_1?crid=F7FV5B6MFLDC&keywords=alika+insecticide&qid=1656932893&sprefix=alika%2Caps%2C226&sr=8-1">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/soybeangirdle/ProfexSuper.jpg" alt="ProfexSuper">
                        <h3 class="card-text"><b>Profex Super</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Profenofos 40%+Cypermethrin 4% E.C.</h3>
                        <h3 class="card-text"><b>Dose:</b> 400 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://krushikendra.com/PROFEX-SUPER-Profenofos-40-Cypermethrin-4-EC?search=Profenofos%2040%25%20%2B%20Cypermethrin%204%25%20E.C.&description=true">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/soybeangirdle/KayBee.jpg" alt="KayBee">
                        <h3 class="card-text"><b>Kay Bee<br>(Organic)</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Azadiractin 10000 PPM</h3>
                        <h3 class="card-text"><b>Dose:</b> 250 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Azadirachtin-Based-Environmental-Friendly-Bio-Pesticide-Neem/dp/B08WJDTSC9/ref=sr_1_7?keywords=azadirachtin%2B10000%2Bppm&qid=1657018117&s=garden&sr=1-7&th=1">Buy!</a></p>
                    </div>


                </div>




    </div>
    </div>
    </section>

{% endblock %}