{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="fertilizer.html">Fertilizer</a></li>
<li><a href="pesticide.html" class="active">Pesticide</a></li>
{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Pest Name: Soybean White-fly</b>
</h2>
 <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"  class="text-center my-3 content-h3">Information</h3>
        </div>

<div class="container" style="max-width:900px; text-align: justify;">

    <p style="color: #000; font-size: 18px">Whiteflies are sucking insects that feed on plant juices in both the immature
        and adult stages.With four whitish wings and a yellowish body, the mature stage is just around 1/16 inch long.
        The wings are held over the body in a roof-like fashion and are nearly parallel to the leaf surface. When
        disturbed, the adults will frequently fly up as you pass through a field. The undersides of leaves serve as food
        for the nymphs. They resemble scale insects because they are flattened.</p> <br>

    <center><img class="image" src="static/images/pesticide/soybeanwhitefly/soybeanwhitefly.png" alt="soybeanwhitefly"></center>

    <p style="color: #000; font-size: 18px">Symptoms:</p>

    <p style="color: #000; font-size: 17px"> 1. The plant's sap is sucked by both adults and nymphs, who then excrete honeydew onto the leaves, stems, and fruits as symptoms. </p>
    <p style="color: #000; font-size: 17px"> 2. The tissues that are damaged produce chlorotic patches and sooty molds. Except for the region along the veins, these patches may group and spread over the entire leaf during severe infections. </p>
    <p style="color: #000; font-size: 17px"> 3. Later on, the leaves may develop deformities, curl, or take on a cutting shape. </p>
    <br>
    <br>
    <p style="color: #000; font-size: 18px">Organic Control:</p>
    <p style="color: #000; font-size: 17px">Biological methods will differ depending on the crop and the particular
        species of whitefly involved. It is advised to use natural insecticides such as pyrethrins, insecticidal soaps,
        sugar-apple oil (Annona squamosal), Neem seed kernel extract (NSKE 5 percent), and Neem oil (five milliliters
        per liter of water). Beauveria bassiana, Isaria fumosorosea, Verticillium lecanii, and Paecilomyces fumosoroseus
        are examples of pathogenic fungi.</p>


    </div>

    <section>

        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>


<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/soybeanwhitefly/pegasus.jpg" alt="pegasus">
                     <h3 class="card-text"><b>Syngenta Pegasus</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Diafenthiuron 50% WP</h3>
                        <h3 class="card-text"><b>Dose:</b> 200 gm/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Syngenya-Pegasus-Diafenthiuron-Insecticide-250gm/dp/B08NWRLMQT/ref=sr_1_7?crid=1SU5E6VDE2TQM&keywords=diafenthiuron+50+wp&qid=1657199074&sprefix=-Diafenthiuron+50%25WP+%2Caps%2C169&sr=8-7">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/soybeanwhitefly/TataAsataf.jpg" alt="TataAsataf">
                        <h3 class="card-text"><b>Tata Asataf</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Acephate 75% WP</h3>
                        <h3 class="card-text"><b>Dose:</b> 300 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Tata-Asataf-Insecticide-Acephate-75/dp/B08TRTQD22/ref=sr_1_fkmr1_1?crid=2VEN7VMJV9OG3&keywords=Acephate+75%25+WP&qid=1656933032&sprefix=acephate+75%25+wp%2Caps%2C382&sr=8-1-fkmr1">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/soybeanwhitefly/KayBee.jpg" alt="KayBee">
                        <h3 class="card-text"><b>Kay Bee (Organic)</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Azadiractin 10000 PPM</h3>
                        <h3 class="card-text"><b>Dose:</b> 250 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Azadirachtin-Based-Environmental-Friendly-Bio-Pesticide-Neem/dp/B08WJDTSC9/ref=sr_1_7?keywords=azadirachtin%2B10000%2Bppm&qid=1657018117&s=garden&sr=1-7&th=1">Buy!</a></p>
                    </div>


                </div>




    </div>
    </div>
    </section>

{% endblock %}