{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="fertilizer.html">Fertilizer</a></li>
<li><a href="pesticide.html" class="active">Pesticide</a></li>
{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Pest Name: Stem Borer</b>
</h2>
 <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"  class="text-center my-3 content-h3">Information</h3>
        </div>

<div class="container" style="max-width:900px; text-align: justify;">

    <p style="color: #000; font-size: 18px">During the vegetative stage, the stem borer larvae bore at the base of the
        plants. On more mature plants, they pierce the top nodes and feed downward. The yellow stem borer harms
        deepwater rice. It is found in aquatic environments where there is continuous flooding. Rice is severely harmed
        by the stem borer (Chilo polychrysus), a dangerous pest bug. Wheat, sugarcane, and maize are all infected as
        well. </p> <br>

    <center><img class="image" src="static/images/pesticide/stemborer/stemborer.jpg" alt="stemborer"></center>

    <p style="color: #000; font-size: 18px">Symptoms:</p>

    <p style="color: #000; font-size: 17px"> 1. During the vegetative stage, damage at the base or along the central system can result in dead tillers, also known as "dead hearts," and during the reproductive phase, whitish, empty panicles, also known as "whiteheads."</p>
    <p style="color: #000; font-size: 17px"> 2. After hatching, the larvae feed by burrowing into the leaf sheath inside the stem. There are tiny holes, frass, and feces on the damaged plants' tissues. The larvae can switch internodes and are mobile.</p>
    <p style="color: #000; font-size: 17px"> 3. Since the plant produces additional tillers to offset the damage caused by larval feeding, symptoms may not appear during the vegetative stage. But doing so consumes energy, which eventually lowers yield.</p>
    <br>
    <br>
    <p style="color: #000; font-size: 18px">Organic Control:</p>
    <p style="color: #000; font-size: 17px">Pheromone bait traps can help you control the number of stem borers. The
        traps should be close to fences, especially those made of millet stems or other grasses and grain bins. Neem oil
        can be beneficial against Stem Borers when applied early in the growing season to infected plants. The
        "push-pull" strategy, which involves intercropping millet with crops like Desmodium, can be quite
        successful.</p>


    </div>

    <section>

        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>


<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/stemborer/SyngentaAmpligo.jpg" alt="SyngentaAmpligo">
                     <h3 class="card-text"><b>Syngenta Ampligo</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Chlorantraniliprole(10)%<br>+Lambdacyhalothrin (5%) ZC</h3>
                        <h3 class="card-text"><b>Dose:</b> 80 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Syngenta-Ampligo-Chloratranilprole-Lambdacyhalothrin-Insecticide/dp/B08YNPHZ2M/ref=asc_df_B08YNPHZ2M/?tag=googleshopdes-&th=1">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/stemborer/ProfexSuper.jpg" alt="ProfexSuper">
                        <h3 class="card-text"><b>Profex Super</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Profenofos 40%+Cypermethrin 4% E.C.</h3>
                        <h3 class="card-text"><b>Dose:</b> 400 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://krushikendra.com/PROFEX-SUPER-Profenofos-40-Cypermethrin-4-EC?search=Profenofos%2040%25%20%2B%20Cypermethrin%204%25%20E.C.&description=true">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/stemborer/KayBee.jpg" alt="KayBee">
                        <h3 class="card-text"><b>Kay Bee<br>(Organic)</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Azadiractin 10000 PPM</h3>
                        <h3 class="card-text"><b>Dose:</b> 250 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Azadirachtin-Based-Environmental-Friendly-Bio-Pesticide-Neem/dp/B08WJDTSC9/ref=sr_1_7?keywords=azadirachtin%2B10000%2Bppm&qid=1657018117&s=garden&sr=1-7&th=1">Buy!</a></p>
                    </div>


                </div>




    </div>
    </div>
    </section>

{% endblock %}