{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="fertilizer.html">Fertilizer</a></li>
<li><a href="pesticide.html" class="active">Pesticide</a></li>
{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Pest Name: Sugarcane Mealy Bug</b>
</h2>
 <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"  class="text-center my-3 content-h3">Information</h3>
        </div>

<div class="container" style="max-width:900px; text-align: justify;">

    <p style="color: #000; font-size: 18px">Mealybugs are oval, wingless insects found in warm or temperate climates. A
        thin layer of mealy wax that gives them a cottony look covers their body to protect it. They penetrate plant
        tissues with their long, sucking stylets and extract the sap from them. The poisonous compounds that they inject
        into plants when feeding cause the symptoms. The soil is where the mealy bug eggs are also placed. Nymphs and
        adults can crawl to nearby plants after hatching.</p> <br>

    <center><img class="image" src="static/images/pesticide/mealybug/mealybug.jpg" alt="mealybug"></center>

    <p style="color: #000; font-size: 18px">Symptoms:</p>

    <p style="color: #000; font-size: 17px"> 1. The underside of leaves, stems, flowers, and fruits develop white cotton-like masses comprised of bug flocks. Young leaves can become yellow and curl, plants grow slowly, and fruits fall off early due to infestations.
    <p style="color: #000; font-size: 17px"> 2. During sap-sucking, the bugs excrete honeydew, which makes the tissues sticky and more likely to be colonized by opportunistic bacteria and fungi.
    <p style="color: #000; font-size: 17px"> 3. Fruits are especially vulnerable to attack and may develop defects or get fully covered in wax secretions. The honeydew may draw ants, transmitting the pest to other plants. Older leaves are less likely to wilt or change shape.
    <br>
    <br>
    <p style="color: #000; font-size: 18px">Organic Control:</p>
    <p style="color: #000; font-size: 17px">Apply a cotton bud dipped in oil or spirit to the colonies of mealybugs at the
        first indication of a minor infestation. You can use insecticidal soap to spray the plants. Neem oil or
        pyrethrins should be sprayed on nearby plants to prevent the population from spreading. Green lacewings,
        parasitoid wasps, hoverflies, ladybird beetles, mealybug destroyers, and the predator butterfly Spalgis epius
        are natural enemies.</p>


    </div>

    <section>

        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>


<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/mealybug/SyngentaAmpligo.jpg" alt="SyngentaAmpligo">
                     <h3 class="card-text"><b>Syngenta Ampligo</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Chlorantraniliprole(10)%<br>+Lambdacyhalothrin (5%) ZC</h3>
                        <h3 class="card-text"><b>Dose:</b> 80 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Syngenta-Ampligo-Chloratranilprole-Lambdacyhalothrin-Insecticide/dp/B08YNPHZ2M/ref=asc_df_B08YNPHZ2M/?tag=googleshopdes-&th=1">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/mealybug/ProfexSuper.jpg" alt="ProfexSuper">
                        <h3 class="card-text"><b>Profex Super</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Profenofos 40%+Cypermethrin 4% E.C.</h3>
                        <h3 class="card-text"><b>Dose:</b> 400 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://krushikendra.com/PROFEX-SUPER-Profenofos-40-Cypermethrin-4-EC?search=Profenofos%2040%25%20%2B%20Cypermethrin%204%25%20E.C.&description=true">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/mealybug/KayBee.jpg" alt="KayBee">
                        <h3 class="card-text"><b>Kay Bee<br>(Organic)</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Azadiractin 10000 PPM</h3>
                        <h3 class="card-text"><b>Dose:</b> 250 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Azadirachtin-Based-Environmental-Friendly-Bio-Pesticide-Neem/dp/B08WJDTSC9/ref=sr_1_7?keywords=azadirachtin%2B10000%2Bppm&qid=1657018117&s=garden&sr=1-7&th=1">Buy!</a></p>
                    </div>


                </div>




    </div>
    </div>
    </section>

{% endblock %}