{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="fertilizer.html">Fertilizer</a></li>
<li><a href="pesticide.html" class="active">Pesticide</a></li>
{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Pest Name: Thistle Caterpillar</b>
</h2>
 <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"  class="text-center my-3 content-h3">Information</h3>
        </div>

<div class="container" style="max-width:900px; text-align: justify;">

    <p style="color: #000; font-size: 18px">The thistle caterpillar, Vanessa cardui, is in the Nymphalidae family and
        order Lepidoptera. The orange-brown wings of an adult can span up to 2-2 7/8 inches. A body's typical length is
        one inch. Their forewings have a white bar and a black patch on the leading edge, while their hindwings have a
        row of five tiny black spots. There are four eyespots with a black, brown, and grey pattern on the undersides of
        the wings.</p> <br>

    <center><img class="image" src="static/images/pesticide/thistlecaterpillar/thistlecaterpillar.png" alt="thistlecaterpillar"></center>

    <p style="color: #000; font-size: 18px">Symptoms:</p>

    <p style="color: #000; font-size: 17px"> 1. When caterpillars hatch, they bind leaves with silk to make webs, giving them a sheltered space to feed.
    <p style="color: #000; font-size: 17px"> 2. The soybean plant's upper canopy is defoliated due to caterpillars feeding on leaves.
    <p style="color: #000; font-size: 17px"> 3. The caterpillars develop into a chrysalis hanging from the host plant after two to six weeks. The butterfly appears seven to ten days after hatching.
    <br>
    <br>
    <p style="color: #000; font-size: 18px">Organic Control:</p>
    <p style="color: #000; font-size: 17px">Eggs and larvae can be treated using bioinsecticides based on Nuclear
        Polyhedrosis Virus (NPV) or Bacillus thuringiensis. In the evening, rice bran, molasses, or brown sugar-based
        bait solutions can be sprayed on the ground. Neem leaves or kernel extracts, as well as extracts from Pongamia
        glabra seeds, are mighty against Spodoptera litura larvae. For instance, NSKE 5 per cent or azadirachtin 1500
        ppm (5 ml/l) can be applied during the egg stage to stop the egg from hatching.</p>


    </div>

    <section>

        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(20,23,25); color: #fff; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>


<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/thistlecaterpillar/gharda_kingdoxa.jpg" alt="gharda_kingdoxa">
                     <h3 class="card-text"><b>Gharda<br>Kingdoxa</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Indoxacarb 14.5 SC</h3>
                        <h3 class="card-text"><b>Dose:</b> 150/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/GHARDA-KINGDOXA-100-ML-JANA/dp/B08L824WL8/ref=pd_sbs_sccl_1_2/259-7421775-2534864?pd_rd_w=1hzHn&content-id=amzn1.sym.d3163d45-cad5-462b-8a7b-a5eb87482d2c&pf_rd_p=d3163d45-cad5-462b-8a7b-a5eb87482d2c&pf_rd_r=Q2AMSNKA70PFR456JYJ8&pd_rd_wg=ZppzR&pd_rd_r=f58e0567-fceb-4289-9b37-db7b4f72ca6b&pd_rd_i=B08L824WL8&psc=1">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/thistlecaterpillar/ProfexSuper.jpg" alt="ProfexSuper">
                        <h3 class="card-text"><b>Profex Super</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Profenofos 40%+Cypermethrin 4% E.C.</h3>
                        <h3 class="card-text"><b>Dose:</b> 400 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://krushikendra.com/PROFEX-SUPER-Profenofos-40-Cypermethrin-4-EC?search=Profenofos%2040%25%20%2B%20Cypermethrin%204%25%20E.C.&description=true">Buy!</a></p>
                    </div>

                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/images/pesticide/thistlecaterpillar/KayBee.jpg" alt="KayBee">
                        <h3 class="card-text"><b>Kay Bee<br>(Organic)</b></h3>
                        <h3 class="card-text" style="font-size: 1.25rem">Azadiractin 10000 PPM</h3>
                        <h3 class="card-text"><b>Dose:</b> 250 ml/acre</h3>
                        <p style="font-weight:bold"><a href="https://www.amazon.in/Azadirachtin-Based-Environmental-Friendly-Bio-Pesticide-Neem/dp/B08WJDTSC9/ref=sr_1_7?keywords=azadirachtin%2B10000%2Bppm&qid=1657018117&s=garden&sr=1-7&th=1">Buy!</a></p>
                    </div>


                </div>




    </div>
    </div>
    </section>

{% endblock %}